<div id = "editing-flight">
  <div class = "editing-content">
    <%= image_tag flight.inbound? ? "in.png" : "out.png", :style => "float:right;clear:both" %>
    <% if flight.errors.any? %>
      <div id="error_explanation">
        <%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:
        <ul>
        <% flight.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for(flight, :remote => true) do |f| %>
      <%= f.text_field :passenger_name %><br />
      <strong>List Passengers</strong><br />
      <br />
      <%= f.text_field :airline %><br />
      <strong>Airline (Montego Bay flight)</strong><br />
      <br />
      <%= f.text_field :flight_number %><br />
      <strong>Flight Number (Montego Bay flight)</strong><br />
      <br />
      <% if flight.inbound? %>
        <%= f.text_field :departure_city %><br />
        <strong>Leaving from (Montego Bay flight)</strong><br />
        <br />
        <%= f.datetime_select :arrival_time,
          :discard_year => true,
          :ampm => true,
          :use_short_month => true,
          :default => Date.parse("11/09/2011")
          %><br />
        <strong>Arriving in Montego Bay</strong><br />
        <br />
        <input type="hidden" id="inbound" name="inbound" value="1" />
      <% else %>
         <%= f.text_field :arrival_city %><br />
          <strong>Arrival City (Montego Bay flight)</strong><br />
          <br />
          <%= f.datetime_select :departure_time,
            :discard_year => true,
            :ampm => true,
            :use_short_month => true,
            :default => Date.parse("11/09/2011")
            %><br />
          <strong>Departing Montego Bay</strong><br />
          <br />
          <input type="hidden" id="inbound" name="inbound" value="0" />
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  
</div>
