<div id = "hotel-booking-<%= hotel_booking.id%>">
  <div class = "listed-content">
    <%= hotel_booking.guest_name %><br/>
    <strong>Guest Names</strong><br />
    <br />

    <%= hotel_booking.hotel_name %><br/>
    <strong>Hotel Name</strong><br />
    <br />

    <%= hotel_booking.check_in.strftime("%B %d, %Y") rescue "" %><br/>
    <strong>Check In</strong><br />
    <br />
    
    <%= hotel_booking.check_out.strftime("%B %d, %Y") rescue "" %><br/>
    <strong>Check Out</strong><br />
    <br />

    <%= hotel_booking.status %><br/>
    <strong>Booking Status</strong><br />
    <br />
    <div id = "actions">
      <%= image_tag "edit.png" %> <%= link_to "edit details", edit_hotel_booking_path(hotel_booking),
        :class => 'edit_link',
        :remote => true %> | 
        <%= image_tag "remove.png" %> <%= link_to "delete booking", hotel_booking_path(hotel_booking),
          :method => "DELETE",
          :class => 'delete_link',
          :remote => true %>
    </div>
  </div>
</div>