<div class = "span-20 prepend-2 clear" id = "steps">
    <div class = "span-4" id = "step-1">
      <div class = "span-4 clear">
        <%= image_tag "1.png" %>
      </div>
      <div class = "span-4 clear">
        Enter details
      </div>
    </div>
    <div class = "span-4" id = "step-2">
      <div class = "span-4 clear">
        <%= image_tag "2.png" %>
      </div>
      <div class = "span-4 clear">
        Select invitation
      </div>
    </div>
    <div class = "span-4" id = "step-3">
      <div class = "span-4 clear">
        <%= image_tag "3.png" %>
      </div>
      <div class = "span-4 clear">
        Reply
      </div>
    </div>
    <div class = "span-4" id = "step-4">
      <div class = "span-4 clear">
        <%= image_tag "4-selected.png" %>
      </div>
      <div class = "span-4 clear">
        Share itinerary
      </div>
    </div>
  </div>
  
<div class = "span-17 prepend-3 clear" id = "page-header">
  Share Your Itinerary
</div>
<div class = "span-17 clear prepend-3" id = "content">
  <p>Please enter your travel and accommodation information below. You can always get back to this page to enter your information later. </p>
  
  <div class = "reply-box">
    <span class = "real-big"><%= number_of_guests_message(@guest) %></span><br/>
    Please call: (401) 688-0171 to change reply.
  </div>
  
  <% if @guest.attending? %>
    <div class="span-7">
      <%= image_tag "airport.png" %><span class= "real-big"> Arrival/Departure</span><br />
      <%= image_tag "add.png" %><%= link_to "Add arrival(s)", new_inbound_flight_path, :remote => true %> | <%= image_tag "add.png" %><%= link_to "Add departure(s)", new_departing_flight_path, :remote => true %><br /><br />
      <div id = "flights">
        <% @guest.flights.each do |flight| %>
          <%= render :partial => 'flight_show',
            :locals => { :flight =>  flight } %>
        <% end %>
      </div>

    </div>

    <div class="span-1">.</div>
    <div class="span-7">
      <%= image_tag "hotel.png" %><span class= "real-big">Hotel</span><br />
      <%= image_tag "add.png" %><%= link_to "Add a hotel", new_hotel_booking_path, :remote => true %><br /><br />
      <div id = "hotel-bookings">
        <% @guest.hotel_bookings.each do |hotel_booking| %>
          <%= render :partial => 'hotel_booking_show',
            :locals => { :hotel_booking =>  hotel_booking } %>
        <% end %>
      </div>
      
    <% end %>
    
</div>









